.banner {
  width: 90%;
  height: 28vh; 
  margin: 0 auto;
  background-image: url('https://maritzacartin.files.wordpress.com/2018/01/iglesia-de-vista-de-mar-foto-panoramio-1.jpg');
  background-size: cover;
  background-position: center;
}